In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
#import dataset 
raw_co2= pd.read_csv('owid-co2-data.csv')
raw_co2

,iso_code,country,year,co2,consumption_co2,co2_growth_prct,co2_growth_abs,trade_co2,co2_per_capita,consumption_co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,0.002,NaN,...,NaN,NaN,NaN,NaN,NaN,7624058.0,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1950,0.084,NaN,475.00,0.070,NaN,0.011,NaN,...,NaN,NaN,NaN,NaN,NaN,7752117.0,9.421400e+09,NaN,NaN,NaN
2,AFG,Afghanistan,1951,0.092,NaN,8.70,0.007,NaN,0.012,NaN,...,NaN,NaN,NaN,NaN,NaN,7840151.0,9.692280e+09,NaN,NaN,NaN
3,AFG,Afghanistan,1952,0.092,NaN,0.00,0.000,NaN,0.012,NaN,...,NaN,NaN,NaN,NaN,NaN,7935996.0,1.001732e+10,NaN,NaN,NaN
4,AFG,Afghanistan,1953,0.106,NaN,16.00,0.015,NaN,0.013,NaN,...,NaN,NaN,NaN,NaN,NaN,8039684.0,1.063052e+10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24646,ZWE,Zimbabwe,2015,12.170,13.308,1.65,0.198,1.138,0.881,0.963,...,4.885,11.87,0.859,6.68,0.484,13814642.0,2.102746e+10,55.642,4027.628,2.223
24647,ZWE,Zimbabwe,2016,10.815,12.171,-11.14,-1.356,1.356,0.771,0.868,...,4.703,11.92,0.850,6.55,0.467,14030338.0,2.096179e+10,47.500,3385.574,1.889
24648,ZWE,Zimbabwe,2017,10.247,11.774,-5.25,-0.568,1.527,0.720,0.827,...,NaN,NaN,NaN,NaN,NaN,14236599.0,2.194784e+10,NaN,NaN,NaN
24649,ZWE,Zimbabwe,2018,11.341,12.815,10.67,1.094,1.475,0.785,0.888,...,NaN,NaN,NaN,NaN,NaN,14438812.0,2.271535e+10,NaN,NaN,NaN
24650,ZWE,Zimbabwe,2019,10.374,NaN,-8.52,-0.966,NaN,0.708,NaN,...,NaN,NaN,NaN,NaN,NaN,14645473.0,NaN,NaN,NaN,NaN

In [33]:
#Drop columns 
raw_co2.drop(columns=['iso_code','co2_growth_prct','co2_growth_abs','consumption_co2_per_capita','share_global_co2',
                      'cumulative_co2','share_global_cumulative_co2','consumption_co2_per_gdp','co2_per_gdp',
                      'co2_per_unit_energy','cement_co2_per_capita','coal_co2_per_capita',
                      'flaring_co2_per_capita','gas_co2_per_capita','oil_co2_per_capita',
                      'other_co2_per_capita','trade_co2_share','share_global_cement_co2',
                      'share_global_coal_co2','share_global_flaring_co2','share_global_gas_co2',
                      'share_global_oil_co2','share_global_other_co2','cumulative_cement_co2',
                      'cumulative_coal_co2','cumulative_flaring_co2','cumulative_gas_co2',
                      'cumulative_oil_co2','cumulative_other_co2','share_global_cumulative_cement_co2',
                      'share_global_cumulative_coal_co2','share_global_cumulative_flaring_co2',
                      'share_global_cumulative_gas_co2','share_global_cumulative_oil_co2',
                      'share_global_cumulative_other_co2','methane_per_capita',
                      'nitrous_oxide_per_capita','energy_per_capita','primary_energy_consumption',
                      'energy_per_gdp'], inplace = True)
raw_co2

,country,year,co2,consumption_co2,trade_co2,co2_per_capita,coal_co2,cement_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,total_ghg,ghg_per_capita,methane,nitrous_oxide,population,gdp
0,Afghanistan,1949,0.015,NaN,NaN,0.002,0.015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7624058.0,NaN
1,Afghanistan,1950,0.084,NaN,NaN,0.011,0.021,NaN,NaN,NaN,0.063,NaN,NaN,NaN,NaN,NaN,7752117.0,9.421400e+09
2,Afghanistan,1951,0.092,NaN,NaN,0.012,0.026,NaN,NaN,NaN,0.066,NaN,NaN,NaN,NaN,NaN,7840151.0,9.692280e+09
3,Afghanistan,1952,0.092,NaN,NaN,0.012,0.032,NaN,NaN,NaN,0.060,NaN,NaN,NaN,NaN,NaN,7935996.0,1.001732e+10
4,Afghanistan,1953,0.106,NaN,NaN,0.013,0.038,NaN,NaN,NaN,0.068,NaN,NaN,NaN,NaN,NaN,8039684.0,1.063052e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24646,Zimbabwe,2015,12.170,13.308,1.138,0.881,8.035,0.504,NaN,NaN,3.631,NaN,67.49,4.885,11.87,6.68,13814642.0,2.102746e+10
24647,Zimbabwe,2016,10.815,12.171,1.356,0.771,7.061,0.581,NaN,NaN,3.173,NaN,65.98,4.703,11.92,6.55,14030338.0,2.096179e+10
24648,Zimbabwe,2017,10.247,11.774,1.527,0.720,6.383,0.581,NaN,NaN,3.283,NaN,NaN,NaN,NaN,NaN,14236599.0,2.194784e+10
24649,Zimbabwe,2018,11.341,12.815,1.475,0.785,7.369,0.581,NaN,NaN,3.390,NaN,NaN,NaN,NaN,NaN,14438812.0,2.271535e+10
24650,Zimbabwe,2019,10.374,NaN,NaN,0.708,6.304,0.581,NaN,NaN,3.489,NaN,NaN,NaN,NaN,NaN,14645473.0,NaN

In [34]:
#define values
values = range(1700,1850)

#drop rows that contain any value in the list
raw_co2 = raw_co2[raw_co2.year.isin(values) == False]
raw_co2

,country,year,co2,consumption_co2,trade_co2,co2_per_capita,coal_co2,cement_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,total_ghg,ghg_per_capita,methane,nitrous_oxide,population,gdp
0,Afghanistan,1949,0.015,NaN,NaN,0.002,0.015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7624058.0,NaN
1,Afghanistan,1950,0.084,NaN,NaN,0.011,0.021,NaN,NaN,NaN,0.063,NaN,NaN,NaN,NaN,NaN,7752117.0,9.421400e+09
2,Afghanistan,1951,0.092,NaN,NaN,0.012,0.026,NaN,NaN,NaN,0.066,NaN,NaN,NaN,NaN,NaN,7840151.0,9.692280e+09
3,Afghanistan,1952,0.092,NaN,NaN,0.012,0.032,NaN,NaN,NaN,0.060,NaN,NaN,NaN,NaN,NaN,7935996.0,1.001732e+10
4,Afghanistan,1953,0.106,NaN,NaN,0.013,0.038,NaN,NaN,NaN,0.068,NaN,NaN,NaN,NaN,NaN,8039684.0,1.063052e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24646,Zimbabwe,2015,12.170,13.308,1.138,0.881,8.035,0.504,NaN,NaN,3.631,NaN,67.49,4.885,11.87,6.68,13814642.0,2.102746e+10
24647,Zimbabwe,2016,10.815,12.171,1.356,0.771,7.061,0.581,NaN,NaN,3.173,NaN,65.98,4.703,11.92,6.55,14030338.0,2.096179e+10
24648,Zimbabwe,2017,10.247,11.774,1.527,0.720,6.383,0.581,NaN,NaN,3.283,NaN,NaN,NaN,NaN,NaN,14236599.0,2.194784e+10
24649,Zimbabwe,2018,11.341,12.815,1.475,0.785,7.369,0.581,NaN,NaN,3.390,NaN,NaN,NaN,NaN,NaN,14438812.0,2.271535e+10
24650,Zimbabwe,2019,10.374,NaN,NaN,0.708,6.304,0.581,NaN,NaN,3.489,NaN,NaN,NaN,NaN,NaN,14645473.0,NaN

In [35]:
raw_co2 = raw_co2.dropna(subset=['co2'])
raw_co2 = raw_co2.reset_index(drop=True)
raw_co2

,country,year,co2,consumption_co2,trade_co2,co2_per_capita,coal_co2,cement_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,total_ghg,ghg_per_capita,methane,nitrous_oxide,population,gdp
0,Afghanistan,1949,0.015,NaN,NaN,0.002,0.015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7624058.0,NaN
1,Afghanistan,1950,0.084,NaN,NaN,0.011,0.021,NaN,NaN,NaN,0.063,NaN,NaN,NaN,NaN,NaN,7752117.0,9.421400e+09
2,Afghanistan,1951,0.092,NaN,NaN,0.012,0.026,NaN,NaN,NaN,0.066,NaN,NaN,NaN,NaN,NaN,7840151.0,9.692280e+09
3,Afghanistan,1952,0.092,NaN,NaN,0.012,0.032,NaN,NaN,NaN,0.060,NaN,NaN,NaN,NaN,NaN,7935996.0,1.001732e+10
4,Afghanistan,1953,0.106,NaN,NaN,0.013,0.038,NaN,NaN,NaN,0.068,NaN,NaN,NaN,NaN,NaN,8039684.0,1.063052e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22225,Zimbabwe,2015,12.170,13.308,1.138,0.881,8.035,0.504,NaN,NaN,3.631,NaN,67.49,4.885,11.87,6.68,13814642.0,2.102746e+10
22226,Zimbabwe,2016,10.815,12.171,1.356,0.771,7.061,0.581,NaN,NaN,3.173,NaN,65.98,4.703,11.92,6.55,14030338.0,2.096179e+10
22227,Zimbabwe,2017,10.247,11.774,1.527,0.720,6.383,0.581,NaN,NaN,3.283,NaN,NaN,NaN,NaN,NaN,14236599.0,2.194784e+10
22228,Zimbabwe,2018,11.341,12.815,1.475,0.785,7.369,0.581,NaN,NaN,3.390,NaN,NaN,NaN,NaN,NaN,14438812.0,2.271535e+10
22229,Zimbabwe,2019,10.374,NaN,NaN,0.708,6.304,0.581,NaN,NaN,3.489,NaN,NaN,NaN,NaN,NaN,14645473.0,NaN

In [36]:
raw_co2.index += 1
raw_co2

,country,year,co2,consumption_co2,trade_co2,co2_per_capita,coal_co2,cement_co2,flaring_co2,gas_co2,oil_co2,other_industry_co2,total_ghg,ghg_per_capita,methane,nitrous_oxide,population,gdp
1,Afghanistan,1949,0.015,NaN,NaN,0.002,0.015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7624058.0,NaN
2,Afghanistan,1950,0.084,NaN,NaN,0.011,0.021,NaN,NaN,NaN,0.063,NaN,NaN,NaN,NaN,NaN,7752117.0,9.421400e+09
3,Afghanistan,1951,0.092,NaN,NaN,0.012,0.026,NaN,NaN,NaN,0.066,NaN,NaN,NaN,NaN,NaN,7840151.0,9.692280e+09
4,Afghanistan,1952,0.092,NaN,NaN,0.012,0.032,NaN,NaN,NaN,0.060,NaN,NaN,NaN,NaN,NaN,7935996.0,1.001732e+10
5,Afghanistan,1953,0.106,NaN,NaN,0.013,0.038,NaN,NaN,NaN,0.068,NaN,NaN,NaN,NaN,NaN,8039684.0,1.063052e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22226,Zimbabwe,2015,12.170,13.308,1.138,0.881,8.035,0.504,NaN,NaN,3.631,NaN,67.49,4.885,11.87,6.68,13814642.0,2.102746e+10
22227,Zimbabwe,2016,10.815,12.171,1.356,0.771,7.061,0.581,NaN,NaN,3.173,NaN,65.98,4.703,11.92,6.55,14030338.0,2.096179e+10
22228,Zimbabwe,2017,10.247,11.774,1.527,0.720,6.383,0.581,NaN,NaN,3.283,NaN,NaN,NaN,NaN,NaN,14236599.0,2.194784e+10
22229,Zimbabwe,2018,11.341,12.815,1.475,0.785,7.369,0.581,NaN,NaN,3.390,NaN,NaN,NaN,NaN,NaN,14438812.0,2.271535e+10
22230,Zimbabwe,2019,10.374,NaN,NaN,0.708,6.304,0.581,NaN,NaN,3.489,NaN,NaN,NaN,NaN,NaN,14645473.0,NaN

In [37]:
# save new dataset as a excel sheet 
raw_co2.to_excel("updatedco2.xlsx",index=False)